<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Chat
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body chat-body">
            <ul id="discussion"></ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-11">
                    <input type="text" class="form-control" id="message" maxlength="500" autocomplete="off" />
                </div>
                <div class="col-md-1">
                    <input type="button" class="btn btn-default" id="sendmessage" value="Send" />
                </div>
            </div>
        </div>
    </div>
</div>
