<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapseFriend" aria-expanded="true" aria-controls="collapseFriend">
                Friends (2)
            </a>
        </h4>
    </div>
    <div id="collapseFriend" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="circle"></div>Foxes - 1300</li>
            <li class="list-group-item">
                <div class="circle"></div>Hobbesy -1900</li>
        </ul>
    </div>
</div>


