<h3>Notifications</h3>

<div class="panel panel-default notification-panel">
    <div class="alert alert-info alert-dismissible" role="alert">
        <span class="pull-right">
            <button type="button" class="glyph-button"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="glyph-button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        </span>
        <strong>Username</strong> has challenged you to a match.
    </div>
    <div class="alert alert-info alert-dismissible" role="alert">
        <span class="pull-right">
            <button type="button" class="glyph-button"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="glyph-button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        </span>
        <strong>Username</strong> has challenged you to a match.
    </div>
    <div class="alert alert-info alert-dismissible" role="alert">
        <span class="pull-right">
            <button type="button" class="glyph-button"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="glyph-button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        </span>
        <strong>Username</strong> has challenged you to a match.
    </div>
    <div class="alert alert-info alert-dismissible" role="alert">
        <span class="pull-right">
            <button type="button" class="glyph-button"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="glyph-button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        </span>
        <strong>Username</strong> has challenged you to a match.
    </div>
    <div class="alert alert-info alert-dismissible" role="alert">
        <span class="pull-right">
            <button type="button" class="glyph-button"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="glyph-button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        </span>
        <strong>Username</strong> has challenged you to a match.
    </div>
    <div class="alert alert-info alert-dismissible" role="alert">
        <span class="pull-right">
            <button type="button" class="glyph-button"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="glyph-button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        </span>
        <strong>Username</strong> has challenged you to a match.
    </div>
</div>
