<div class="spectate-panel">
    <div class="row">
        <h6><strong>Cluk (800)</strong></h6>
    </div>
    <div class="row">
        <div class="col-md-6 min-chess-width">
            <div id="board" class="chess-board"></div>
        </div>
        <div class="col-md-6">

            <div class="well"><strong>Status:</strong> White to move</div>
            <div class="well"><strong>PGN:</strong> 1. b4 e5 2. c4 Nf6 3. Bb2 d5 4. Bxe5 Nc6 5. Bxf6 Qxf6 6. Nc3 Nxb4 7. Nxd5 Nxd5 8. cxd5 Bc5 9. Rc1 b6 10. e4 O-O 11. f3 Qh4+ 12. g3 Qf6 13. Ne2 Bd7 14. d4 Bb4+ 15. Nc3 c5 16. e5 Qg6 17. Bd3 Bf5 18. Ke2 cxd4 19. Bxf5 Qxf5 20. Qxd4 Bxc3 21. Rxc3 Rfe8 22. Rhc1 Rxe5+ 23. Kf2 Rxd5 24. Rc8+ Rxc8 25. Rxc8+ Qxc8 26. Qxd5 g6 27. h4 Qc2+ 28. Kg1 Qc5+ 29. Qxc5 bxc5 30. Kf1 Kg7 31. f4 Kf6 32. Kf2 Kf5 33. Kf3 c4</div>
            <div class="well"><strong>FEN:</strong> 8/p4p1p/6p1/5k2/2p2P1P/5KP1/P7/8 w - - 0 34</div>

        </div>
    </div>
    <div class="row">
        <h6><strong>Beaston (1600)</strong></h6>
    </div>
</div>
