html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 65px;
    margin-bottom: 30px;
    overflow-x: hidden;
    /*background-color: #888888;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c2e4f+8,2b3754+100&1+0,0.95+93 */
    background: -moz-linear-gradient(left,  rgba(60,46,79,1) 0%, rgba(60,46,79,1) 8%, rgba(44,54,84,0.95) 93%, rgba(43,55,84,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(60,46,79,1) 0%,rgba(60,46,79,1) 8%,rgba(44,54,84,0.95) 93%,rgba(43,55,84,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(60,46,79,1) 0%,rgba(60,46,79,1) 8%,rgba(44,54,84,0.95) 93%,rgba(43,55,84,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c2e4f', endColorstr='#f22b3754',GradientType=1 ); /* IE6-9 */

}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/* Set width on the form input elements since they're 100% wide by default */
.box-width {
    max-width: 280px;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  left:0px; right:0px;
}

.panel-group .list-group {
	margin-bottom: 0;
}

.panel-group .list-group .list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.panel-group .list-group .list-group-item:last-child {
	border-bottom: none;
}

.circle-online {
    margin-right: .5em;
    display: inline-block;
    width: 10px;
	height: 10px;
	background: greenyellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle-offline {
    margin-right: .5em;
    display: inline-block;
    width: 10px;
	height: 10px;
	background: #C0C0C0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.chat-body {
    height: 175px;
    overflow-y: scroll;
    word-wrap: break-word;
}
ul
{
    list-style-type: none;
    padding:0; margin:0;
}

.spectate-panel h6{
    margin-left: 15px;
}

.min-chess-width {
    min-width: 400px;
}

.pad-right{
  padding-right:15px;
}

#user-panel {
    overflow: auto;
    max-height: 400px;
}

